@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
.title {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    font-family: "palatino";
}

#titleText{
    font-size: 70px;
    padding-top: 100px;
    font-weight: bold;
    font-family: "palatino"
}
.inputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
}
input{
    
    border-style: solid;
    border-radius: 40px;
    font-family: "josefin sans";
    width: 400px;
}
.flexInputs{
    margin: 10px;
    font-size: 24px;

}
button {
    margin-top: 10px;
    width: 180px;
    height: 50px;
    background-color: #21c267;
    color: black;
    border-style: solid;
    border-radius: 25px;
    font-size: 32px;
    font-family: "palatino";
}
  