@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300;500&family=Source+Sans+Pro&display=swap');
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: #F5F5E7;
    color: #4A4C49;
    }
    
    a {
    text-decoration: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F5F5E7;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
    
.nav-links a {
color: #4A4C49;
}

.leaf_icon {
    width: 50px;
    margin-right: 10px;
}

/* LOGO */
.logo {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: "Raleway", sans-serif;
}

.login {
    margin-right: 50px;
}

/* NAVBAR MENU */
.menu {
display: flex;
gap: 1em;
font-size: 18px;
}

.list:hover {
background-color: #FFFFF6;
border-radius: 10px;
transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 8px 14px;
}

@keyframes fadeInOutAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.firstMessage{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    height: 100vh;
    font-family: "Montserrat";

    cursor: pointer;
    animation: fadeInOutAnimation 2s;
    animation-timing-function: ease-in-out;
}

#titleText{
    padding-top: 50px;
    font-size: 100px;
    font-weight: 300;
}

#directions{
    padding-top: 20px;
    font-size: 50px;
    padding-bottom: 30px;
}

#directions2{
    padding: 100px;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.hook, .works, .lastOne{
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    height: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 45%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.images{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.info {
    margin: 5px;
    margin-left: 25px;
}

.flipCard{
    /* display: flex;
    align-items: center; */
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 48px;
    padding-bottom: 48px;
    /* display: inline-block; */
    text-align: left;
    width: 65%;

    background-color: #ABDBAF;
    border-radius: 15px;
 }

 #theHook {
    margin-left: 10px;
 }

 .imageBox{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
 }

.subheading {
    font-size:30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.bullets2 {
    margin-left: 25px;
}

.footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    color: #ABDBAF;
    font-size: 2rem;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}
    
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color:#E8E8D9;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#E8E8D9;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
}