@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Sans+Pro&display=swap');
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        font-family: "Raleway", sans-serif;
        background-color: #4ac8b3;
    }
    
    a {
    text-decoration: none;
    }
    
    li {
    list-style: none;
}

#entries{
    background-color: red;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: center
}

/* .container:after {
    display: block;
    content: " placeholder ";
    margin: 25px;
    flex: 999 999 auto;
} */

.new {
    background-color: blue;
}

.card_entries {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 25px;
    width: 180px; 
    height: 150px;

    background-color: #F0EAE4;    /* Set up Border */
    border-radius: 4px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    
    font-size: 16px;
}

#new_entry {
    font-size: 30px;
}

.title_entry {

}